---
layout: default
post_class: post-template page-template
---

<!-- layout for all the statics pages (like about me, project, etc) -->

<!-- <nav class="main-nav clearfix">
    <a class="back-button icon-arrow-left" href="{{ site.baseurl }}">Home</a>
    <a class="subscribe-button icon-feed" href="{{ 'feed.xml' | relative_url}}">Subscribe</a>
</nav> -->

<header class="main-header post-head {% if page.cover %}"
    style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %} overlay {% endif %} clearfix">
        <a class="back-button icon-arrow-left" href="{{'/' | relative_url }}">Home</a>
        <!-- <a class="back-button icon-arrow-left" href="{{ page.contact }}">About me</a> -->
        <!-- <a class="subscribe-button icon-feed" href="{{'feed.xml' | relative_url }}">Subscribe</a> -->

     <!-- contact page -->
     <a class="subscribe-button" href="{{ '/contact.html' | relative_url }}">Contact</a>

     <!-- publication page -->
     <a class="subscribe-button" href="{{ '/publication.html' | relative_url }}">Publication</a>

     <!-- projects page -->
     <a class="subscribe-button" href="{{ '/projects.html' | relative_url }}">Projects</a>

     <!-- leadership page -->
     <a class="subscribe-button" href="{{ '/leadership.html' | relative_url }}">Leadership</a>

     <!-- vision page -->
     <a class="subscribe-button" href="{{ '/vision.html' | relative_url }}">Vision</a>

    </nav>
</header>


<main class="content" role="main">
    <article class="post">
        <!-- <header class="post-header">
            <a id="blog-logo" href="{{site.baseurl}}">
                {% if site.logo %}
                    <img src="{{site.logo}}" alt="{{ site.name }}" />
                {% else %}
                    <span class="blog-title">{{ site.name }}</span>
                {%endif%}
            </a>
        </header> -->

        <h1 class="post-title">{{ page.title }}</h1>

        <section class="post-content">
            {{content}}
        </section>

    </article>

</main>
