---
layout: default
title: Home
cover: false

vision: 'vision.html'
leadership: 'leadership.html'
projects: 'projects.html'
publication: 'publication.html'
contact: 'contact.html'
---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
        <!-- in the case that a gigantic cover is put on the front page -->
        {% if page.logo %}
            <a class="blog-logo" href="{{ site.baseurl }}">
                <img src="{{ page.logo }}" alt="Blog Logo" />
            </a>
        {% endif %}

        
        <!-- contact page -->
        <a class="subscribe-button" href="{{ page.contact | relative_url }} ">Contact</a>

        <!-- publication page -->
        <a class="subscribe-button" href="{{ page.publication | relative_url }} ">Publication</a>

        <!-- projects page -->
        <a class="subscribe-button" href="{{ page.projects | relative_url }} ">Projects</a>

        <!-- leadership page -->
        <a class="subscribe-button" href="{{ page.leadership | relative_url }} ">Leadership</a>

        <!-- vision page -->
        <a class="subscribe-button" href="{{ page.vision | relative_url }} ">Vision</a>

        
        <!-- in the case a subscribe button is put alongside the button -->
        <!-- https://rosario.io/kasper/ -->
        <!-- <a class="subscribe-button icon-feed" href="{{'feed.xml' | relative_url }} ">Subscribe</a> -->
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">
                {% if site.description %} {{ site.description }}. {% endif %}
                <!-- {% if page.about %} <a href='{{page.about | relative_url}}'> About me </a> {% endif %} -->
            </h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>

</header>


<main id="content" class="content" role="main">


    <div class="extra-pagination inner">
        {% include pagination.html %}
    </div>

    {% for post in paginator.posts %}

    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            {{ post.excerpt }} <a class="read-more" href="{{ post.url | relative_url }}">&raquo;</a>
        </section>
        <footer class="post-meta">
            {% if site.author %}
                <img class="author-thumb" src="{{'/assets/images/profile.png' | relative_url}}" alt="Author's profile picture" nopin="nopin" />
                {{ site.author }}
            {% endif %}
            {% if post.categories.size > 0 %} 
                {{ post.categories | array_to_sentence_string | prepend: 'on ' }} 
            {% endif %}
            <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                {{ post.date | date_to_string }}
            </time> 
        </footer>
    </article>

    {% endfor %}

    {% include pagination.html %}

</main>

